<ion-header>
    <ion-buttons>   
        <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <h1>Notes</h1>
    <div id="searcher">
        <input 
            placeholder="Search a note"
            (input)="update($event)"  
        />
        <div id="create-button">
            <ion-icon name="add-circle"></ion-icon>
            <button (click)="create()">create</button>
        </div>
    </div>
</ion-header>
<ion-content>
    <ion-list>
      <app-note-card
        *ngFor="let note of variableNotes"
        [note]="note"
      ></app-note-card>
    </ion-list>
</ion-content>
