ion-header {
    all: unset;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    background-color: #fff;
    margin: 20px;
}

#title {
    font-size: 2rem;
    font-weight: 600;
}

#author {
    font-size: 1.5rem;
    color: #898989;
    font-weight: 400;
}

input {
    display: block;
    width: 100%;
    outline: none;
    border: none; 
    background-color: transparent;
    padding-inline: 25px; 
    margin-bottom: 10px;
}


#container {
    height: 100%;
    box-shadow: inset 0px 10px 10px #000;
}

textarea {
    position: relative;
    outline: none;
    height: calc(100% - 220px);
    width: 100%;
    margin-bottom: 40px; 
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 1.1rem;
    padding: 25px; 
}

#row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 10px; 
    margin-bottom: 20px;
    padding-inline: 25px; 
}

button {
    width: 50%;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-inline: 25px;
    font-size: 1.1rem;
    font-weight: 500;
}

#save {
    background-color: #3842ff;
    color: #fff;
}

#delete {
    background-color: #ececec;
    color: #898989;
}