ion-item {
    padding: 20px; 
}

ion-label {
    font-family: 'Poppins', sans-serif;
}

h1 {
    margin: 20px; 
}

a {
    text-decoration: none;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-inline: 20px;
    margin-block: 5px;  
    padding-inline: 20px;
    gap: 10px; 
    border-radius: 10px;
    transition: all 0.15s ease-in-out;
}

.row:hover, .row:focus {
    background-color: #ececec;
    cursor: pointer;
}

#last {
    margin-top: 20px; 
    color: #898989;
}